# Block .method file
<Files .method>
    Order Allow,Deny
    Deny from all
</Files>

# Block 404s
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* - [R=404,L]
</IfModule>
