/**/*
!.gitignore
!.htaccess
!web.config

!/.protected/
/.protected/*

# Ignore everything but travel-brochures, travel-photos and region-photos
!/**/travel-brochures/
!/**/travel-photos/
!/**/travel-*/**/*
!/**/region-photos/
!/**/region-photos/**/*

# Ignore mutated files
**/*__*.*
